.payments-title {
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  /* background-color: blue; */
  width: 90%;
  height: 50px;
}
.payments-title-content {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: black;
}
.payment-list {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: blue; */
}
.payment-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: blue; */
  width: 1400px;
  height: 250px;
}
.payment-add-block-content {
  margin-left: 50px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 2%);
  width: 400px;
  height: 230px;
}
.payment-add-block-content-onmouse {
  margin-left: 50px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 10%);
  width: 400px;
  height: 230px;
}
.payment-block-add-logo {
  height: 130px;
}
.payment-block-content {
  margin-left: 50px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0, 4%);
  width: 400px;
  height: 230px;
}
.payment-block-logo {
  display: flex;
  border-radius: 20px;
  margin-top: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* background-color: rgb(0, 0, 0, 10%); */
  width: 400px;
  height: 50px;
}
.payment-block-left {
  display: flex;
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* background-color: rgb(0, 0, 0, 10%); */
  width: 400px;
  height: 50px;
}
.payment-block-left-logo {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; */
  /* background-color: rgb(0, 0, 0, 10%); */
  margin-left: 35px;
  height: 40px;
}
.payment-block-right-logo-bg {
  /* background-color: rgb(0, 0, 0, 10%); */
  margin-right: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.payment-block-right-logo-bg-onmouse {
  background-color: rgb(0, 0, 0, 10%);
  margin-right: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.payment-block-right-logo {
  /* background-color: rgb(0, 0, 0, 10%); */
  /* margin-right: 20px; */
  height: 20px;
}
.payment-block-right {
  display: flex;
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* background-color: rgb(0, 0, 0, 10%); */
  width: 400px;
  height: 50px;
}
.payment-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* background-color: rgb(0, 0, 0, 75%); */
  width: 170px;
  height: 230px;
}
.payment-info-detail {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0, 75%);
}
